<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/budget' ? 'active' : '' %>" href="/budget">Presupuesto</a></li>
            <li class="main-header__item"><a  class="<%= path === '/add-expense' ? 'active' : '' %>"  href="/add-expense">Agregar Registro</a></li>
        </ul>
    </nav>
</header>